{% extends "layouts/base.html" %} 
{% set pageCriticalStyles = ['css/home.css'] %}

{% block content %}
{% include "partials/intro.html" %}

{% include "partials/blurb.html" %}

{% include "partials/featured-work.html" %}

{% include "partials/youneedihelp.html" %}

{% include "partials/whycollaborate.html" %}

{% include "partials/testimonials.html" %}

{% set ctaContent = cta %} 
{% include "partials/cta.html" %}

{% set ctaContent = newsletterCTA %} 
{% include "partials/cta.html" %} 

{% endblock %}