.youneed {

    &__heading {
        margin-bottom: get-size('400');
    }

    &__inner {

        ul {

            li {
                margin: get-size('400');
            }
        }
    }
}

.ihelp {

    &__heading {
        margin-bottom: get-size('400')
    }

    &__inner {
        text-align: center;
        margin-top: get-size('800');
    }

    &__module {
        margin: get-size('600');

        h4 {
            margin-bottom: get-size('300');
        }
    }
}