@font-face {
    font-family: 'ITC Avant Garde Std';
    src: url('./ITCAvantGardeStd-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('./Vollkorn-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Std';
    src: url('./ITCAvantGardeStd-Bk.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('./Vollkorn-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}