<article class="[ featured-work ] [ bg-light ]">
    <div class="[ wrapper ] [ flow ]">
        <h2 class="[ featured-work__heading ] [ color-dark ]">
            {{ featuredWork.title }}
        </h2>
        <div class="[ featured-work__inner ] [ flow ]">
            {% for item in collections.featuredWork %}
            <a href="{{ item.data.url }}" aria-label="See {{ item.data.title }}" class="[ featured-work__item ] [ frame ]" data-frame="primary" target="_blank">
                <img src="{{ item.data.image }}" alt="{{ item.data.title }}" loading="lazy" class="radius" />
            </a>
            {% endfor %}
        </div>
        <div class="featured-work__action">
            <a class="button" href="{{ featuredWork.url }}">{{ featuredWork.button }}</a>
        </div>
    </div>
</article>