<article class="[ testimonials ] [ bg-primary color-dark ]">
    <div class="[ wrapper ] [ flow ]">
        <h2 class="[ featured-work__heading ] [ headline ] [ color-dark ]">
            {{ testimonials.title }}
        </h2>
        {% for item in collections.testimonials %}
        <div class="[ testimonials__inner ] [ panel ]">
            <div class="[ testimonials__quote ] [ bg-light ]">
                <p>{{ item.data.quote }}</p>
            </div>
            <div class="[ testimonials__content ] [ bg-dark invertselect ]">
                <div>
                    <p class="[ testimonials__heading ] [ headline ] [ color-primary ]">
                        {{ item.data.by }}
                    </p>
                    <p class="[ testimonials__heading ] [ headline ] [ color-light ]">
                        {{ item.data.title }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</article>