<article class="[ bg-dark color-light invertselect ]">
    <div class="wrapper">
        <div class="[ youneed__inner ] [ flow measure-x-long automargin ]">
            <h3 class="[ youneed__heading ] [ subheadline ]">{{ youneedihelp.youNeed.title }}
            </h3>
            <ul>
                {% for item in youneedihelp.youNeed.list %}
                <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="[ ihelp__inner ] [ measure-long automargin ]">
            <h3 class="[ ihelp__heading ] [ subheadline ]">{{ youneedihelp.iHelp.title }}
            </h3>
            <div class="[ ihelp__module ]">
                <h4>{{youneedihelp.iHelp.header[0]}}</h4>
                <ul class="[ ihelp__list ]">
                    {% for item in youneedihelp.iHelp.list %}
                    <li>{{item[0]}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="[ ihelp__module ]">
                <h4>{{youneedihelp.iHelp.header[1]}}</h4>
                <ul class="[ ihelp__list ]">
                    {% for item in youneedihelp.iHelp.list %}
                    <li>{{item[1]}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</article>